/* App */

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: white;
}

#app-content {
  margin-top: 100px;
  padding: 12px;
}

@media screen and (max-width: 600px) {
  .app {
    font-size: 0.8rem;
  }

  #app-content {
    padding: 8px;
  }
}

#app-logo {
  filter: invert(1);
}

#title-container {
  margin-left: 24px;
  white-space: nowrap;
  font-size: 28px;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

/* Post */

#post-containter {
  border: lightgrey 1px solid;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
}

#post-title-style {
  margin: 16px 0 24px;
}

.post-answer {
  margin-top: 32px;
}

/* General */

.full-width {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
}

.hover-underline:hover {
  text-decoration: underline;
}

hr {
  margin: 32px 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: lightskyblue;
}

a:visited {
  color: cadetblue;
}

code {
  white-space: break-spaces;
  line-break: anywhere;
}

.button-style {
  padding: 6px 8px 6px;
  border: 1px white solid;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  margin-right: 8px;
}

.button-style:hover {
  text-decoration: underline;
}

/* Question */

.question-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.question-container {
  display: flex;
  flex-direction: column;
  border: lightgrey 1px solid;
  border-radius: 8px;
  padding: 16px;
  margin: 12px;
  width: calc(50% - 24px);
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .question-container {
    width: 100%;
    margin: 8px;
  }
}

.question-answered {
  background: rgb(37, 92, 61) !important;
}

.question-meta-token {
  padding: 2px 8px 4px;
  margin: 0 12px 12px 0;
  border-radius: 8px;
  display: inline-block;
  background: darkslategrey;
}

.question-counter-token {
  padding: 4px 12px 6px;
  margin: 8px 12px 0 0;
  border: 1px white solid;
  background: none;
}


.question-user-token {
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.question-tag {
  margin: 12px 0;
  overflow-wrap: anywhere;
  font-weight: 500;
  font-size: larger;
}

.question-user-token:hover {
  text-decoration: underline;
}

/* User */

#user-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#user-container-inner {
  width: 100%;
  padding: 8px 8px 0;
}

#user-content {
  display: flex;
  margin: 24px 0 16px;
  border: white solid 1px;
  border-radius: 8px;
  padding: 16px;
  width: calc(50% - 12px);
}

@media screen and (max-width: 1280px) {
  #user-content {
    width: 100%;
  }
}

#user-info-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

#user-top-tags-container {
  display: flex;
  margin-top: 12px;
  flex-wrap: wrap;
}

.user-info-token {
  margin-right: 24px;
}

.user-title {
  padding: 8px 12px;
}

.user-tag-container {
  padding: 8px 12px;
  margin: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 24px)
}

@media screen and (max-width: 1280px) {
  .user-tag-container {
    width: 100%;
  }
}

/* Search */

#search-bar-container {
  display: flex;
  align-items: center;
  padding: 16px 16px 16px 24px;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 10px darkgrey;
  background-color: #282c34;
  box-sizing: border-box;
}

#search-bar {
  margin: 0 24px;
  width: 100%;
  height: 48px;
  font-size: 24px;
  background-color: black;
  color: white;
  padding-left: 8px;
}

#search-button {
  visibility: hidden;
  right: 48px;
  position: fixed;
}

#search-glass {
  visibility: visible;
  filter: invert(1);
  width: 24px;
  height: 24px;
  right: 48px;
  cursor: pointer;
}

/* Results */

#results-text {
  white-space: nowrap;
  margin-left: 12px;
}

.results-navigator {
  margin-bottom: 8px;
  height: 30px;
}

#results-page-text {
  margin-left: calc(50% - 120px);
  width: 100%;
}